<form action="/components/add" method="post" class="form">
  <label for="title"
    >Title<input type="text" name="title" placeholder="xxx-title" id="title"
  /></label>
  <label for="description"
    >description<input
      type="text"
      name="description"
      placeholder="xxx-description"
      id="description"
  /></label>
  <label for="link"
    >link <input type="text" name="link" placeholder="xxx-link" id="link"
  /></label>
  <select name="color_checker" id="color_checker">
    <option value="red">red</option>
    <option value="green">green</option>
    <option value="yellow">yellow</option>
  </select>
  <button type="submit">Submit</button>
</form>
